# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

1.df.loc[ '2013-01-01', 'A'] 是找出索引為'2013-01-01',欄位為A的資料,選出的資料型態為數值
2.df.loc[ '2013-01-01', ['A', 'B'] ] 是找出索引為'2013-01-01',欄位為A和B的資料,選出的資料型態為series
3.df.loc[ '2013-01-01':'2013-01-02', 'A' ] 是找出索引為'2013-01-01',欄位為A的資料,選出的資料型態為series
4.df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 是找出索引從'2013-01-01'到'2013-01-04',欄位從A到B的資料,選出的資料型態為dataframe

## 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [18]:
import pandas as pd
import numpy as np 
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df
# - select the first 3 rows.
print(df[:3])
print(df[1::2])
print(df.iloc[:,-2:])
print(df.iloc[[0,2,4],0::2])

       col1      col2      col3
0 -0.211858  1.078638  0.365555
1 -1.338333  0.334279 -1.055634
2  0.417501 -0.180102  1.607943
       col1      col2      col3
1 -1.338333  0.334279 -1.055634
3 -0.842647 -1.740598 -1.272817
5 -0.291353  0.227609  1.393407
       col2      col3
0  1.078638  0.365555
1  0.334279 -1.055634
2 -0.180102  1.607943
3 -1.740598 -1.272817
4 -1.138901  0.320557
5  0.227609  1.393407
       col1      col3
0 -0.211858  0.365555
2  0.417501  1.607943
4 -0.332281  0.320557

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [22]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   32  38  24  10
1   25  27  23  19
2   25  27  34  18
3   18  26  39  29
4   27  36  32  33
5   19  14  20  28
6   19  37  23  32
7   11  32  15  16
8   15  30  19  27
9   10  25  21  38
10  14  14  30  39
11  24  14  21  34
12  23  21  16  17
13  32  13  11  27
14  22  38  20  39

In [34]:
print(df[df[0]>20])
print(df[(df[0]+df[1])>50])
print(df[((df[0]<30)|(df[1]>30))])
print(df[(df.sum(axis=1))>100])

     0   1   2   3
0   32  38  24  10
1   25  27  23  19
2   25  27  34  18
4   27  36  32  33
11  24  14  21  34
12  23  21  16  17
13  32  13  11  27
14  22  38  20  39
     0   1   2   3
0   32  38  24  10
1   25  27  23  19
2   25  27  34  18
4   27  36  32  33
6   19  37  23  32
14  22  38  20  39
     0   1   2   3
0   32  38  24  10
1   25  27  23  19
2   25  27  34  18
3   18  26  39  29
4   27  36  32  33
5   19  14  20  28
6   19  37  23  32
7   11  32  15  16
8   15  30  19  27
9   10  25  21  38
10  14  14  30  39
11  24  14  21  34
12  23  21  16  17
14  22  38  20  39
     0   1   2   3
0   32  38  24  10
2   25  27  34  18
3   18  26  39  29
4   27  36  32  33
6   19  37  23  32
14  22  38  20  39