# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [16]:
import pandas as pd
import numpy as np
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
print(df.groupby("animal")["age"].mean())
print(df.sort_values(by=["age","visits"],ascending=["True","False"]))
df["priority"]=df["priority"].map({"yes":"True","no":"False"})
print(df)

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64
  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
b    cat  3.0       3      yes
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes
  animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False
f    cat  2.0       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [37]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.350593  0.606158  0.721284
1  0.652059  0.583856  0.358515
2  0.955883  0.096928  0.458433
3  0.363180  0.763285  0.372322
4  0.015332  0.091062  0.694188

In [39]:
print(df-df.mean())

          0         1         2
0 -0.116817  0.177900  0.200335
1  0.184650  0.155599 -0.162433
2  0.488474 -0.331330 -0.062516
3 -0.104230  0.335027 -0.148626
4 -0.452077 -0.337196  0.173239

In [46]:
print(df.mean(axis=1))
df.sub(df.mean(axis=1),axis=0)

0    0.559345
1    0.531477
2    0.503748
3    0.499596
4    0.266861
dtype: float64

          0         1         2
0 -0.208752  0.046813  0.161939
1  0.120582  0.052379 -0.172961
2  0.452135 -0.406820 -0.045315
3 -0.136416  0.263689 -0.127273
4 -0.251529 -0.175799  0.427327

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [48]:
df

          0         1         2
0  0.350593  0.606158  0.721284
1  0.652059  0.583856  0.358515
2  0.955883  0.096928  0.458433
3  0.363180  0.763285  0.372322
4  0.015332  0.091062  0.694188

In [60]:
df.sum(axis=1).argmin()

4

In [61]:
df.sum(axis=0).argmin()

1